<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Blog</title>
  </head>
  <body>
    <header>
        <h1> 
            <a href="'/">Django someting</a>
        </h1>
    </header>

    <article>
        <time>published : 14.06.2014, 12:14</time>
        <h2><a href="/">My first post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Alias nam perspiciatis architecto animi id consequatur sint deserunt quidem qui numquam.
             Blanditiis molestiae alias cupiditate dolorem ex fuga libero totam quasi?</p>
    </article>

    <article>
        <time>published : 14.06.2014, 14:14</time>
        <h2><a href="/">My second post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Alias nam perspiciatis architecto animi id consequatur sint deserunt quidem qui numquam.
             Blanditiis molestiae alias cupiditate dolorem ex fuga libero totam quasi?</p>
    </article>
    
  </body>
</html>